body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


nav {
    background-color: #F5F5F5;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-direction: row;
}

nav ul li {
    float: left;
    padding: 10px;
    margin: 0px 10px;
    transition: all 600ms;
}

li:hover {
    background-color: rgb(from #333 0.0 0.0 0.4);
    cursor: pointer;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #dddd;
}

.logo {
    width: 200px;
    position: absolute;
    right: 0px;
}

nav .logo img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 4px 68px;
    border: 5px solid rgb(10, 255, 26);
    cursor: default;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #dddd;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgb(from #333 0.0 0.0 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#home {
    background-color: rgba(185, 182, 182, 0.685);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.head {
    margin: 40px auto;
    padding: 10px 20px;
    height: 600px;
    width: 700px;
    border: none;
    border-radius: 15px;
    line-height: 40px;
    transition: all 1000ms;
}

.head:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    filter: drop-shadow(8px 8px 12px black);
}

h1 {
    font-size: 3.6rem;
    line-height: 64px;
    font-family: sans-serif;
    color: #181C14;
    transition: all 500ms;
}

.head h1:hover,
.head p:hover,
.head q:hover {
    transform: translatex(18px);
    color: #F6DA63;
}


p {
    font-size: 2.4rem;
    font-family: sans-serif;
    font-weight: 300;
    color: rgba(124, 124, 204, 0.472);
    transition: all 400ms;
}

q {
    font-size: 2.4rem;
    font-family: sans-serif;
    font-weight: 300;
    color: rgba(124, 124, 204, 0.472);
    display: inline;
    transition: all 400ms;
}

.btn-sec {
    margin: 30px 0px;
}

.btn-primary,
.btn-secondary {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: sans-serif;
    background-color: #333;
    color: #00DF38;
    margin: 10px;
    padding: 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: all 300ms;
}

.btn-primary:hover,
.btn-secondary:hover {
    color: #9B3922;
    background-color: rgb(from #333 0.0 0.0 0.4);
    filter: drop-shadow(5px 5px 8px black);
}

#about {
    overflow: hidden;
    background-color: rgba(185, 182, 182, 0.685);
    color: #181C14;
}

h2 {
    text-align: center;
    font-size: 3.8rem;
    font-family: sans-serif;
    line-height: 10px;
    cursor: default;
}

.contain {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.boxes {
    width: 400px;
    height: 680px;
    border: 5px solid yellow;
    border-radius: 15px;
    padding: 20px;
    margin: 50px;
    transition: all 400ms;
}

.boxes:hover {
    transform: translatey(-30px);
    cursor: pointer;
    filter: invert(10);
}

.boxes p {
    font-size: 2.1rem;
    color: #181C14;
}

.boxes p a {
    text-decoration: none;
    color: #D8D8D8;
    cursor: url(myBall.cur), auto;
    ;
}

.second-contain {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 150px auto;
    border: 5px solid #850F8D;
    border-radius: 15px;
}

.logos {
    font-size: 2rem;
    font-family: sans-serif;
    padding: 8px;
    border: 3px solid #181C14;
    border-radius: 8px;
    margin: 20px 55px;
    transition: all 550ms;
}

.logos:hover {
    transform: translateX(10px);
    cursor: pointer;
    filter: invert(10);
}

#contact {
    height: 800px;
    overflow: hidden;
    background-color: rgba(185, 182, 182, 0.685);
}

#contact h2 {
    color: #181C14;
    cursor: default;
}

.contactsec {
    display: flex;
    flex-direction: row;
}

#para {
    width: 450px;
    height: 500px;
    border: none;
    border-radius: 15px;
    padding: 25px;
    margin: 48px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    transition: all 300ms;
}

#para:hover {
    background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(50px);
}

#para p {
    text-align: left;
    color: rgba(124, 124, 204, 0.472);
}

#forms {
    margin-top: 48px;
    border: none;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(30px);
    width: 700px;
    height: 550px;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

label {
    margin: 16px 0px 5px 0px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #D8D8D8;
}

input {
    border: 1px solid grey;
    border-radius: 10px;
    height: 50px;
}

textarea {
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
}

input,
textarea {
    font-size: 1.3rem;
    font-family: sans-serif;
}

button {
    position: relative;
    top: 30px;
    height: 50px;
    width: 180px;
    font-size: 20px;
    font-weight: 510;
    align-self: center;
    color: #D8D8D8;
    background: linear-gradient(270deg, #7A1CAC, #CF0A0A, #78A083);
    background-size: 800% 800%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    animation: moveBg 550ms linear infinite;
}

@keyframes movebg {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

footer {
    background-color: #0C0C0C;
    overflow: hidden;
}

#foot {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #D8D8D8;
}

#social {
    width: 250px;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#social img {
    height: 70px;
    width: 70px;
    transition: all 450ms;
    cursor: pointer;
}

#social img:hover {
    filter: invert(10);
    transform: translateY(-8px);
}


#projects {
    background-color: rgba(185, 182, 182, 0.685);
    overflow: hidden;
}

#projects h2 {
    color: #ffff;
}

hr {
    width: 100px;
    margin: auto;
    border: 3px solid #00DF38;
    border-radius: 3px;
}


.containProject {
    display: flex;
    flex-direction: column;
}

.project {
    height: 450px;
    width: 1200px;
    margin: 100px auto;
    background-color: #0C0C0C;
    box-shadow: 3px 3px 5px 5px rgb(16, 15, 15);
    transition: all 300ms;
}

.project:hover {
    filter: drop-shadow(10px 10px 15px black);
}

.image-wraper {
    display: flex;
    flex-direction: row-reverse;
}

.image-wraper img {
    height: 450px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;

}

.description {
    position: absolute;
    width: 801px;
    height: 450px;
    backdrop-filter: blur(5px);
    padding: top 10px;
    opacity: 0;
    transition: all 300ms;
}

.description:hover {
    opacity: 1;
}

.description-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #0C0C0C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description-line {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0C0C0C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.card {
    overflow: hidden;
    width: 350px;
}

.card h3 {
    color: #D8D8D8;
    font-size: 2.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    line-height: 10px;
}

.card p {
    color: #D8D8D8;
    font-size: 1.65rem;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-p {
    background-color: #0bf992d6;
    height: 30px;
    width: 120px;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 5px;
    transition: all 300ms;
}

.btn-p:hover {
    background-color: #02e775;
    transform: translateY(-1.5px);
}

.btn-p a {
    color: #0C0C0C;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}